div[data-testid="stHorizontalBlock"] {
    display: flex;
    justify-content: center;
}

div[data-testid="stHorizontalBlock"] {
    display: flex;
    justify-content: center;
}

.css-k1ih3n {
    width: 100%;
    padding: 4rem 1rem 4rem;
    min-width: auto;
    max-width: initial;
}
    